In [10]:
import pandas as pd
import numpy as np
import tensorflow as tf
import keras
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.models import Sequential
from keras.layers import Dense

In [11]:
df = pd.read_csv('ML_ALL_benchmarks.csv')
df.dropna(inplace=True)
df.head()
column = ['clock','cpuScore','gpuScore','npuScore']
classes = df['cpuName']
classes
# df[:5]

0          A15 Bionic
1          A15 Bionic
2          A15 Bionic
3                 M1
4                 M1
             ...
183       Exynos 8890
184    Snapdragon 810
185    Snapdragon 808
186    Snapdragon 835
187        Exynos 850
Name: cpuName, Length: 188, dtype: object

In [12]:
df = df.drop(['company','device','cores'],axis=True)
df

               cpuName  clock  cpuScore  gpuScore  npuScore
0        A15 Bionic      3230       935      2273      2676
1        A15 Bionic      3230       931      2261      2665
2        A15 Bionic      3230       924      1852      2660
3               M1       3190      1013      2824      2657
4               M1       3190      1011      2842      2656
..                 ...    ...       ...       ...       ...
183     Exynos 8890      1300       133       400        71
184  Snapdragon 810      1555        85       111        71
185  Snapdragon 808      1440        78        75        68
186  Snapdragon 835      1900       146       504        66
187      Exynos 850      2002        96       177        56

[188 rows x 5 columns]

In [13]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
  
df['cpuName']= label_encoder.fit_transform(df['cpuName'])

inp = df.drop(['cpuName'],axis=1)
inp
out = df['cpuName']
out

0       8
1       8
2       8
3      33
4      33
       ..
183    18
184    51
185    50
186    52
187    17
Name: cpuName, Length: 188, dtype: int32

In [14]:
integerMapping=dict(zip(out,classes))
len(integerMapping)

63

In [15]:
X_train,X_test,Y_train,Y_test = train_test_split(inp,out,test_size=0.2,random_state=0)

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
len(X_train)

150

In [17]:
# Initializing the ANN
ann = tf.keras.models.Sequential()
# Add the input layer and first hidden layer
ann.add(tf.keras.layers.Dense(units=4, activation='relu', input_shape=X_train[0].shape))
# Add the second hidden layer
ann.add(tf.keras.layers.Dense(units=2, activation='relu'))
# Add the output layer
ann.add(tf.keras.layers.Dense(units=63, activation='sigmoid'))

In [ ]:
ann.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])
ann.fit(X_train, Y_train, batch_size = 32, epochs = 100)

In [ ]:
ann.evaluate(X_test,Y_test)

In [ ]:
predictions  = ann.predict(X_test)
y_classes = [np.argmax(element) for element in predictions]
y_classes

In [ ]:
Y_test[0:5]

In [ ]:
for val in Y_test:
    print(integerMapping[val])

In [ ]:
#predictions
for val in y_classes:
    print(integerMapping[val])