In [40]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [41]:
df=pd.read_csv('./../Datasets/movies.csv')

In [42]:
df.head()

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations
0,615656,Meg 2: The Trench,Action-Science Fiction-Horror,en,An exploratory dive into the deepest depths of...,8763.998,Apelles Entertainment-Warner Bros. Pictures-di...,2023-08-02,129000000.0,352056482.0,116.0,Released,Back for seconds.,7.079,1365.0,Jason Statham-Wu Jing-Shuya Sophia Cai-Sergio ...,based on novel or book-sequel-kaiju,/4m1Au3YkjqsxF8iwQy0fPYSxE0h.jpg,/qlxy8yo5bcgUw2KAmmojUKp4rHd.jpg,1006462-298618-569094-1061181-346698-1076487-6...
1,758323,The Pope's Exorcist,Horror-Mystery-Thriller,en,Father Gabriele Amorth Chief Exorcist of the V...,5953.227,Screen Gems-2.0 Entertainment-Jesus & Mary-Wor...,2023-04-05,18000000.0,65675816.0,103.0,Released,Inspired by the actual files of Father Gabriel...,7.433,545.0,Russell Crowe-Daniel Zovatto-Alex Essoe-Franco...,spain-rome italy-vatican-pope-pig-possession-c...,/9JBEPLTPSm0d1mbEcLxULjJq9Eh.jpg,/hiHGRbyTcbZoLsYYkO4QiCLYe34.jpg,713704-296271-502356-1076605-1084225-1008005-9...
2,667538,Transformers: Rise of the Beasts,Action-Adventure-Science Fiction,en,When a new threat capable of destroying the en...,5409.104,Skydance-Paramount-di Bonaventura Pictures-Bay...,2023-06-06,200000000.0,407045464.0,127.0,Released,Unite or fall.,7.340,1007.0,Anthony Ramos-Dominique Fishback-Luna Lauren V...,peru-alien-end of the world-based on cartoon-b...,/gPbM0MK8CP8A174rmUwGsADNYKD.jpg,/woJbg7ZqidhpvqFGGMRhWQNoxwa.jpg,496450-569094-298618-385687-877100-598331-4628...
3,640146,Ant-Man and the Wasp: Quantumania,Action-Adventure-Science Fiction,en,Super-Hero partners Scott Lang and Hope van Dy...,4425.387,Marvel Studios-Kevin Feige Productions,2023-02-15,200000000.0,475766228.0,125.0,Released,Witness the beginning of a new dynasty.,6.507,2811.0,Paul Rudd-Evangeline Lilly-Jonathan Majors-Kat...,hero-ant-sequel-superhero-based on comic-famil...,/qnqGbB22YJ7dSs4o6M7exTpNxPz.jpg,/m8JTwHFwX7I7JY5fPe4SjqejWag.jpg,823999-676841-868759-734048-267805-965839-1033...
4,677179,Creed III,Drama-Action,en,After dominating the boxing world Adonis Creed...,3994.342,Metro-Goldwyn-Mayer-Proximity Media-Balboa Pro...,2023-03-01,75000000.0,269000000.0,116.0,Released,You can't run from your past.,7.262,1129.0,Michael B. Jordan-Tessa Thompson-Jonathan Majo...,philadelphia pennsylvania-husband wife relatio...,/cvsXj3I9Q2iyyIo95AecSd1tad7.jpg,/5i6SjyDbDWqyun8klUuCxrlFbyw.jpg,965839-267805-943822-842942-1035806-823999-107...

In [43]:
df[df['id']==965839]

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations
17,965839,Lord of the Streets,Action,en,When Jason Dyson refuses to make his prized fi...,1691.825,Mutiny Films,2022-04-22,1000000.0,0.0,85.0,Released,NaN,4.9,29.0,Treach-Quinton Jackson-Khalil Rountree Jr.-And...,NaN,/n9YWVQRc0zw0nwrFcOkOpffZxjc.jpg,/g8Yytnby0hIPft5l56mgJtZyR1k.jpg,982467

In [44]:
df['overview'][0]

'An exploratory dive into the deepest depths of the ocean of a daring research team spirals into chaos when a malevolent mining operation threatens their mission and forces them into a high-stakes battle for survival.'

In [45]:
df.isnull().sum()

id                           0
title                        4
genres                  210525
original_language            0
overview                118372
popularity                   0
production_companies    385252
release_date             51915
budget                       0
revenue                      0
runtime                  34374
status                       0
tagline                 614183
vote_average                 0
vote_count                   0
credits                 224892
keywords                512049
poster_path             184786
backdrop_path           499622
recommendations         687652
dtype: int64

In [46]:
df = df.dropna(subset=['genres'])

In [47]:
def custom_function(value):
    # Implement your custom logic here
    # For example, let's say you want to concatenate 'ABC' to each non-null value
    if pd.notna(value):
        value_list = value.split('-')
        return ' '.join(value_list)
    else:
        return value

# Apply the custom function to the 'production_companies' column
df['production_companies'] = df['production_companies'].apply(custom_function)

In [48]:
df['production_companies']

0         Apelles Entertainment Warner Bros. Pictures di...
1         Screen Gems 2.0 Entertainment Jesus & Mary Wor...
2         Skydance Paramount di Bonaventura Pictures Bay...
3                    Marvel Studios Kevin Feige Productions
4         Metro Goldwyn Mayer Proximity Media Balboa Pro...
                                ...
722486                                                  NaN
722487                                                  NaN
722488                                           MetraFilms
722490                                     Primodio Studios
722491                                                  NaN
Name: production_companies, Length: 511968, dtype: object

In [49]:
df.columns

Index(['id', 'title', 'genres', 'original_language', 'overview', 'popularity',
       'production_companies', 'release_date', 'budget', 'revenue', 'runtime',
       'status', 'tagline', 'vote_average', 'vote_count', 'credits',
       'keywords', 'poster_path', 'backdrop_path', 'recommendations'],
      dtype='object')

In [50]:
df['text']=df['overview']+df['keywords']+df['production_companies']

In [59]:
df['text'][::-1]

722491                                                  NaN
722490    This is a biographical documentary about a rea...
722488                                                  NaN
722487                                                  NaN
722486                                                  NaN
                                ...
4         After dominating the boxing world Adonis Creed...
3         Super-Hero partners Scott Lang and Hope van Dy...
2         When a new threat capable of destroying the en...
1         Father Gabriele Amorth Chief Exorcist of the V...
0         An exploratory dive into the deepest depths of...
Name: text, Length: 511968, dtype: object

In [52]:
genres_split = df['genres'].str.split('-', expand=True)

# Determine the maximum number of genres in any row
max_genres = genres_split.shape[1]

# Create new columns for each genre
new_columns = [f'genre{i+1}' for i in range(max_genres)]
df[new_columns] = genres_split

# Display the DataFrame after splitting
print(df)

            id                              title  \
0       615656                  Meg 2: The Trench
1       758323                The Pope's Exorcist
2       667538   Transformers: Rise of the Beasts
3       640146  Ant-Man and the Wasp: Quantumania
4       677179                          Creed III
...        ...                                ...
722486  179422    Uriah Heep - Between Two Worlds
722487  681280                             Cuckoo
722488  603360                          An Affair
722490  387890  My Life, My Story, My Tourette's!
722491  184204  Rosamunde Pilcher: Herzen im Wind

                                  genres original_language  \
0          Action-Science Fiction-Horror                en
1                Horror-Mystery-Thriller                en
2       Action-Adventure-Science Fiction                en
3       Action-Adventure-Science Fiction                en
4                           Drama-Action                en
...                                  ...               ...
722486                             Music                en
722487             Horror-Thriller-Drama                en
722488                             Drama                ru
722490                       Documentary                en
722491                             Drama                de

                                                 overview  popularity  \
0       An exploratory dive into the deepest depths of...    8763.998
1       Father Gabriele Amorth Chief Exorcist of the V...    5953.227
2       When a new threat capable of destroying the en...    5409.104
3       Super-Hero partners Scott Lang and Hope van Dy...    4425.387
4       After dominating the boxing world Adonis Creed...    3994.342
...                                                   ...         ...
722486  This is the stunning film of Uriah Heep live o...       0.600
722487  An insecure mother tries to maintain the bond ...       0.600
722488                                   A disaster film.       0.600
722490  This is a biographical documentary about a rea...       0.600
722491  On the way to the church to marry Sophie of Wi...       0.600

                                     production_companies release_date  \
0       Apelles Entertainment Warner Bros. Pictures di...   2023-08-02
1       Screen Gems 2.0 Entertainment Jesus & Mary Wor...   2023-04-05
2       Skydance Paramount di Bonaventura Pictures Bay...   2023-06-06
3                  Marvel Studios Kevin Feige Productions   2023-02-15
4       Metro Goldwyn Mayer Proximity Media Balboa Pro...   2023-03-01
...                                                   ...          ...
722486                                                NaN   2005-05-02
722487                                                NaN   2019-07-16
722488                                         MetraFilms   2013-06-04
722490                                   Primodio Studios          NaN
722491                                                NaN   2008-12-21

             budget      revenue  ...  genre7 genre8 genre9  genre10  genre11  \
0       129000000.0  352056482.0  ...    None   None   None     None     None
1        18000000.0   65675816.0  ...    None   None   None     None     None
2       200000000.0  407045464.0  ...    None   None   None     None     None
3       200000000.0  475766228.0  ...    None   None   None     None     None
4        75000000.0  269000000.0  ...    None   None   None     None     None
...             ...          ...  ...     ...    ...    ...      ...      ...
722486          0.0          0.0  ...    None   None   None     None     None
722487          0.0          0.0  ...    None   None   None     None     None
722488          0.0          0.0  ...    None   None   None     None     None
722490          0.0          0.0  ...    None   None   None     None     None
722491          0.0          0.0  ...    None   None   None     None     None

       genre12 genre13 genre14 genre15 genre16
0         None    None    None    None    None
1         None    None    None    None    None
2         None    None    None    None    None
3         None    None    None    None    None
4         None    None    None    None    None
...        ...     ...     ...     ...     ...
722486    None    None    None    None    None
722487    None    None    None    None    None
722488    None    None    None    None    None
722490    None    None    None    None    None
722491    None    None    None    None    None

[511968 rows x 37 columns]

In [53]:
df.columns

Index(['id', 'title', 'genres', 'original_language', 'overview', 'popularity',
       'production_companies', 'release_date', 'budget', 'revenue', 'runtime',
       'status', 'tagline', 'vote_average', 'vote_count', 'credits',
       'keywords', 'poster_path', 'backdrop_path', 'recommendations', 'text',
       'genre1', 'genre2', 'genre3', 'genre4', 'genre5', 'genre6', 'genre7',
       'genre8', 'genre9', 'genre10', 'genre11', 'genre12', 'genre13',
       'genre14', 'genre15', 'genre16'],
      dtype='object')

In [54]:
# df.drop(columns=[''])

In [56]:
df['text']

0         An exploratory dive into the deepest depths of...
1         Father Gabriele Amorth Chief Exorcist of the V...
2         When a new threat capable of destroying the en...
3         Super-Hero partners Scott Lang and Hope van Dy...
4         After dominating the boxing world Adonis Creed...
                                ...
722486                                                  NaN
722487                                                  NaN
722488                                                  NaN
722490    This is a biographical documentary about a rea...
722491                                                  NaN
Name: text, Length: 511968, dtype: object

In [57]:
# Select the desired columns
selected_columns = ['text', 'genre1', 'genre2', 'genre3']

# Create a new DataFrame with the selected columns
new_df = df[selected_columns]

# Display the new DataFrame
new_df.head()

,text,genre1,genre2,genre3
0,An exploratory dive into the deepest depths of...,Action,Science Fiction,Horror
1,Father Gabriele Amorth Chief Exorcist of the V...,Horror,Mystery,Thriller
2,When a new threat capable of destroying the en...,Action,Adventure,Science Fiction
3,Super-Hero partners Scott Lang and Hope van Dy...,Action,Adventure,Science Fiction
4,After dominating the boxing world Adonis Creed...,Drama,Action,None

In [60]:
# Assuming 'df' is your DataFrame
new_df = new_df.dropna(subset=['text'])

In [61]:
new_df.isnull().sum()

text           0
genre1         0
genre2     64657
genre3    108885
dtype: int64

In [62]:
new_df['genre1'].value_counts()

Drama              34120
Comedy             22362
Documentary        22235
Action              9881
Horror              8300
Animation           8043
Music               5109
Crime               4545
Thriller            4499
Romance             3984
Adventure           3416
Western             2806
Science Fiction     2457
Family              2346
Fantasy             1875
Mystery             1586
TV Movie            1463
War                 1114
History             1082
Name: genre1, dtype: int64

In [63]:
sample_df=new_df.sample(frac=0.1, random_state=42)

sample_df.shape

(14122, 4)

In [64]:
train_data, test_data, train_labels, test_labels = train_test_split(
    new_df['text'], new_df['genre1'], test_size=0.2, random_state=42
)

In [68]:

from tensorflow.keras import layers, models

from sklearn.feature_extraction.text import TfidfVectorizer
# Use TF-IDF for text representation
tfidf_vectorizer = TfidfVectorizer(max_features=1000)
train_text_tfidf = tfidf_vectorizer.fit_transform(train_data)
test_text_tfidf = tfidf_vectorizer.transform(test_data)

# Convert labels to numerical representation
label_encoder = LabelEncoder()
train_labels_encoded = label_encoder.fit_transform(train_labels)
test_labels_encoded = label_encoder.transform(test_labels)

import numpy as np

# ...

# Convert sparse matrix to numpy array
train_text_array = train_text_tfidf.toarray()

# Convert labels to numpy array
train_labels_array = np.array(train_labels_encoded)

# Build a neural network model for multi-class classification
model = models.Sequential()
model.add(layers.Dense(256, activation='relu', input_shape=(train_text_tfidf.shape[1],)))
model.add(layers.Dropout(0.5))  # Adding dropout for regularization
model.add(layers.Dense(128, activation='relu'))
model.add(layers.Dropout(0.5))
model.add(layers.Dense(len(label_encoder.classes_), activation='softmax'))

# Compile the model
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [69]:
# Train the model
model.fit(train_text_array, train_labels_array, epochs=20, batch_size=2, verbose=1)

Epoch 1/20
56489/56489 [==============================] - 164s 3ms/step - loss: 1.8205 - accuracy: 0.4601
Epoch 2/20
56489/56489 [==============================] - 172s 3ms/step - loss: 1.7393 - accuracy: 0.4821
Epoch 3/20
56489/56489 [==============================] - 187s 3ms/step - loss: 1.7321 - accuracy: 0.4879
Epoch 4/20
56489/56489 [==============================] - 185s 3ms/step - loss: 1.7213 - accuracy: 0.4936
Epoch 5/20
56489/56489 [==============================] - 185s 3ms/step - loss: 1.7123 - accuracy: 0.4972
Epoch 6/20
56489/56489 [==============================] - 183s 3ms/step - loss: 1.7047 - accuracy: 0.5030
Epoch 7/20
56489/56489 [==============================] - 184s 3ms/step - loss: 1.6966 - accuracy: 0.5068
Epoch 8/20
56489/56489 [==============================] - 190s 3ms/step - loss: 1.6875 - accuracy: 0.5092
Epoch 9/20
56489/56489 [==============================] - 166s 3ms/step - loss: 1.6782 - accuracy: 0.5130
Epoch 10/20
56489/56489 [==============================] - 191s 3ms/step - loss: 1.6746 - accuracy: 0.5141
Epoch 11/20
56489/56489 [==============================] - 181s 3ms/step - loss: 1.6701 - accuracy: 0.5153
Epoch 12/20
56489/56489 [==============================] - 178s 3ms/step - loss: 1.6712 - accuracy: 0.5179
Epoch 13/20
56489/56489 [==============================] - 179s 3ms/step - loss: 1.6612 - accuracy: 0.5189
Epoch 14/20
56489/56489 [==============================] - 179s 3ms/step - loss: 1.6636 - accuracy: 0.5206
Epoch 15/20
56489/56489 [==============================] - 184s 3ms/step - loss: 1.6598 - accuracy: 0.5218
Epoch 16/20
56489/56489 [==============================] - 181s 3ms/step - loss: 1.6601 - accuracy: 0.5224
Epoch 17/20
56489/56489 [==============================] - 187s 3ms/step - loss: 1.6698 - accuracy: 0.5230
Epoch 18/20
56489/56489 [==============================] - 187s 3ms/step - loss: 1.6526 - accuracy: 0.5242
Epoch 19/20
56489/56489 [==============================] - 180s 3ms/step - loss: 1.6539 - accuracy: 0.5258
Epoch 20/20
56489/56489 [==============================] - 188s 3ms/step - loss: 1.6527 - accuracy: 0.5255

In [35]:
new_df.head()

,overview,genre1,genre2,genre3
0,An exploratory dive into the deepest depths of...,Action,Science Fiction,Horror
1,Father Gabriele Amorth Chief Exorcist of the V...,Horror,Mystery,Thriller
2,When a new threat capable of destroying the en...,Action,Adventure,Science Fiction
3,Super-Hero partners Scott Lang and Hope van Dy...,Action,Adventure,Science Fiction
4,After dominating the boxing world Adonis Creed...,Drama,Action,None

In [92]:
text=new_df['text'][12334]
print(new_df['genre1'][12334])

Crime

In [93]:
# text="The story of J. Robert Oppenheimer's role in the development of the atomic bomb during World War II.husband wife relationship-based on novel or book-politics-atomic bomb-professor-patriotism-new mexico-world war ii-hallucination-atomic bomb test-surrealism-physics-biography-berkeley-based on true story-physicist-jewish american-interrogation-guilt-nonlinear timeline-historical event-nuclear weapons-communism-red scare-prometheus-mccarthyism-top secret project-moral dilemma-usa politics-1940s-ethics-quantum physics-antisemitism-apocalyptic vision-clinical-new mexico desert-male protagonist-20th century-manhattan project-affair-los alamos-hiroshima and nagasaki bombings-cliché-defiant-demeaningSyncopy Universal Pictures Atlas Entertainment"


new_text = [text]
new_text_tfidf = tfidf_vectorizer.transform(new_text)
new_text_tfidf =  new_text_tfidf.toarray()
new_predictions_encoded = model.predict(new_text_tfidf)

predicted_label_index = new_predictions_encoded.argmax(axis=1)
predicted_genre = label_encoder.classes_[predicted_label_index[0]]
print('Predicted genre for the new text:', predicted_genre)

1/1 [==============================] - 0s 122ms/step
Predicted genre for the new text: Drama

In [82]:
new_df.to_csv('./../Datasets/newData.csv')